@import '../../styles/colors';

.home-page {
  .tag-cont {
    padding-left: 16px;
  }
  .intro {
    font-family: 'Permanent Marker', cursive;
    color: $white;
    font-size: 46px;
  }
  .bio {
    padding-top: 16px;
    font-size: 14px;
    color: $text-dark-5;
    padding-bottom: 36px;
    letter-spacing: 1px;
  }
  .shadow {
    color: $secondary-color;
    font-size: 54px;
    &:hover {
      color: $primary-color;
    }
  }
  .shadow2 {
    color: $primary-color;
    font-size: 54px;
    &:hover {
      color: $secondary-color;
    }
  }
  .right-pane {
    z-index: -100;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
