{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true,
    "cypress/globals": true
  },
  "plugins": [
    "react-hooks",
    "cypress"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx"]
      }
    ],
    "arrow-parens": "off",
    "max-len": "off",
    "no-bitwise": "off",
    "no-confusing-arrow": "off",
    "no-plusplus": "off",
    "no-use-before-define": "off",
    "no-useless-escape": "off",
    "implicit-arrow-linebreak": "off",
    "camelcase": "off",
    "comma-dangle": "off",
    "dot-notation": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "no-restricted-syntax": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-wrap-multilines": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-unused-vars": "off",
    "no-shadow": "off",
    "arrow-body-style": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "prefer-const": "off",
    "prefer-destructuring": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
