$primary-color: #08fdd8;
$secondary-color: #fc2853;

$abc: #07b29d;
$fff: #d46c6e;

$white: #ffffff;
$white-1: #f5f5f5;

$text-dark-1: #4d4d4e;
$text-dark-2: #5e5e5f;
$text-dark-3: #6b6b6c;
$text-dark-4: #868687;
$text-dark-5: #a4a4a5;

$bg-color: #1d1d1d;

$input-bg-color: #2b2b2b;
$sidebar-bg-color: rgba(24, 24, 24, 0.87);
$sidebar-icon-color-inactive: $text-dark-5;
