@import 'colors';
@import 'constants';

body {
  margin: 0;
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#adarsh-main {
  position: relative;
  .adarsh-container {
    width: calc(100% - 64px);
    position: relative;
  }
}
