@import '../../../styles/colors';

.swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
  border-left-color: $primary-color !important;
  border-right-color: $primary-color !important;
}

.swal2-title,
.swal2-html-container {
  color: #9ca9ba !important;
}

.swal2-popup {
  background: $bg-color !important;
}
.swal2-icon.swal2-success {
  border-color: $primary-color !important;
  color: $primary-color !important;
}
