@import '../../styles/colors';
@import '../../styles/mixins';

.skills-page {
  .left-pane {
    width: 40%;
    @media only screen and (max-width: 1000px) {
      width: 90%;
    }
    .spunge:hover {
      color: $secondary-color;
    }
    .brand {
      font-family: 'Poppins', sans-serif;
      color: $primary-color;
      font-size: 46px;
      @media only screen and (max-width: 1200px) {
        font-size: 40px;
      }
      @media only screen and (max-width: 900px) {
        font-size: 36px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 30px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 24px;
      }
    }
    p {
      color: $white;
      font-weight: 300;
      line-height: 1.3;
      font-size: 14px;
      @media only screen and (max-width: 800px) {
        font-size: 14px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 12px;
      }
    }
  }
  .right-pane {
    position: absolute;
    right: 0;
    top: -85px;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
    //@media only screen and (max-width: 1200px) {
    //  right: 50%;
    //}
    //@media only screen and (max-width: 1000px) {
    //  display: none;
    //}
  }
}

.vertical-timeline {
  &::before {
    background: rgba(255, 255, 255, 0.23) !important;
  }
  $primary-color-tr: rgba(8, 253, 216, 0.1);
  $secondary-color-tr: rgba(252, 40, 83, 0.1);
  .vertical-timeline-element {
    .vertical-timeline-element-icon {
      background: $secondary-color-tr !important;
      color: rgba(255, 255, 255, 0.7);
    }
    .vertical-timeline-element-content {
      background: $secondary-color-tr !important;
      backdrop-filter: blur(1px);
      box-shadow: 0 3px 0 white;
      color: white !important;
      ol {
        font-size: 14px;
        list-style-type: circle;
        color: rgba(0, 0, 0, 0.82);
        color: white !important;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: white !important;
      }
      .vertical-timeline-element-content-arrow {
        border-right: 7px solid $secondary-color-tr;
      }
      .title {
        line-height: 22px;
        font-size: 18px;
        margin: 0;
      }
      .subtitle {
        line-height: 16px;
        font-size: 16px;
        margin: 12px 0;
      }
    }
  }
  .active {
    .vertical-timeline-element-icon {
      background: $primary-color-tr !important;
      color: rgba(255, 255, 255, 0.7);
    }
    .vertical-timeline-element-content {
      background: $primary-color-tr !important;
      box-shadow: 0 3px 0 $primary-color !important;
      .vertical-timeline-element-content-arrow {
        border-right: 7px solid $primary-color-tr !important;
      }
    }
  }
}
