@import '../../../styles/colors';

#adarsh-tag-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  top: 0;
  padding: 18px 0;
  .container {
    position: relative;
    flex: auto;
    padding: 8px 24px 84px 72px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
