@import '../../../styles/colors';
@import '../../../styles/constants';

#adarsh-tag-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  top: 0;
  left: $sidebar-width;
  right: 0;
  padding: 18px 0;
  .container {
    position: relative;
    flex: auto;
    padding-left: 72px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
